**

!.gitignore

!bat/
!bat/*
!bat/**/

!colorls/
!colorls/*
!colorls/**/

!kitty/
!kitty/*
!kitty/**/

!.p10k.zsh
!.zshrc
!zshrc
!.bashrc
!bashrc
!dracula-pro.zsh-theme

!fzf-git.sh
!nvim.sh
!.nvim.sh
!start.sh

!README.md
